# Assignment 2 (Steam)

### 0. Import packages and define functions

In [2]:
# Import any packages here
import gzip
import pandas as pd
import random
from collections import defaultdict
import numpy as np
from random import choice
from matplotlib import pyplot as plt

In [3]:
# Define any functions here
def readCSV(path):
    f = gzip.open(path, 'rt', encoding="utf8")
    values = []
    for line in f:
        fields = eval(line)
        values.append(fields)
    return values

### 1. Read Data

In [4]:
# Load review data
reviews = readCSV("australian_user_reviews.json.gz")
# Retrieve needed columns from review data
user_id, item_id, review, time_posted = [],[],[],[]
for user in reviews:
    uid = user['user_id']
    for item in user['reviews']:
        user_id.append(uid)
        item_id.append(item['item_id'])
        review.append(item['review'])
        time_posted.append(item['posted'][7:])
# Shuffle review data
zip_review = list(zip(user_id, item_id, review, time_posted))
random.seed(1234)
random.shuffle(zip_review)
# Format review data into a dataframe
all_review = pd.DataFrame({'user_id':list(d[0] for d in zip_review), 'item_id':list(d[1] for d in zip_review),
                           'review':list(d[2] for d in zip_review),'time_posted':list(d[3] for d in zip_review)})
# Show what review data look like
all_review[:5]

,user_id,item_id,review,time_posted
0,76561198085013601,250320,"Great game, terrible save system...",February 27.
1,76561198142474106,363620,would be yes if this game didnt cost more than...,"December 7, 2015."
2,bentan312,440,Slapped a guy with a fish.10/10 would do again.,"July 29, 2014."
3,potatoskins,233270,bright colors hurt my eyes10/10 must buy,August 21.
4,Mineturdle321,208090,stupidly addictive,"January 31, 2014."

In [9]:
# Load user data
aus_users = readCSV("australian_users_items.json.gz")
# Retrieve needed columns from user data
user_id, item_id, item_name, play_time = [],[],[],[]
for user in aus_users:
    uid = user['user_id']
    for item in user['items']:
        user_id.append(uid)
        item_id.append(item['item_id'])
        item_name.append(item['item_name'])
        play_time.append(int(item['playtime_forever']))
# Shuffle user data
zip_data = list(zip(user_id, item_id, item_name, play_time))
random.shuffle(zip_data)
# Format user data into a dataframe
all_user = pd.DataFrame({'user_id':list(d[0] for d in zip_data),'item_id':list(d[1] for d in zip_data),
                         'item_name':list(d[2] for d in zip_data),'play_time':list(d[3] for d in zip_data)})
# Show what user data look like
all_user[:5]

             user_id item_id                         item_name  play_time
0  76561198070316224  301520                         Robocraft          3
1     best_luck_ever     320           Half-Life 2: Deathmatch          0
2  76561198071743525  238460               BattleBlock Theater        227
3  76561197994851773     730  Counter-Strike: Global Offensive       3005
4     lecomptedelric  219640        Chivalry: Medieval Warfare       1856

### 2. Split data

In [10]:
## Split data into training set, validation set and test set
train_user, valid_user, test_user = np.split(all_user.sample(frac=1), [int(.6*len(all_user)), int(.8*len(all_user))])
## Create dictionaries
itemsPerUser, usersPerItem = defaultdict(list), defaultdict(list)
for i in range(0, len(train_user)):
    u = train_user.iloc[i,0]
    i = train_user.iloc[i,1]
    itemsPerUser[u].append(i)
    usersPerItem[i].append(u)
n_user = len(itemsPerUser.keys())
n_item = len(usersPerItem.keys())

# 先别看这里！！！都是没用的code
# unread_book = []
# for i in range(0, len(valid_data)):
#     array = list(set(all_book)-set(valid_data.iloc[i,1]))
#     unread_book.append(choice(array))
    
# add_data = pd.DataFrame({'user': valid_user,
#                          'book': unread_book,
#                          'read': 0})
# valid = valid_data.append(add_data)

In [16]:
len(test_user)

1030642

In [11]:
n_user,n_item

(69134, 10587)